.main-plans-container {
   width: 100%;
   min-width: 320px;
   padding-bottom: 70px;
   text-align: center;
}
.plans--title {
   width: 90%;
   min-width: 288px;
   height: auto;
   margin: 0 auto;
   margin-bottom: 50px;
}
.plans--title h2 {
   padding-top: 50px;
   font-style: normal;
   font-weight: bold;
   font-size: 28px;
   line-height: 26px;
   color: var(--warm-black);
}
.plans--title p {
   padding-top: 30px;
   font-style: normal;
   font-weight: 500;
   font-size: 18px;
   line-height: 18px;
   color: #757575;
}
.plans-container--card {
   position: relative;

   scroll-snap-align:center ;
   width: 70%;
   min-width: 200px;
   max-width: 300px;
   height: 250px;
   margin: 50px auto 0px;
   padding: 0 15px;
   background-color: var(--just-white);
   border-radius: 15px;
   box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
}
.recommended {
   position: absolute;
   width: 120px;
   height: 32px;
   padding: 6px;
   left: calc(50% - 60px);
   top: -16px;
   background-color: var(--bitcoin-orange);
   border-radius: 8px;
   color: var(--just-white);
   font-style: normal;
   font-weight: bold;
   font-size: 16px;
   line-height: 15px;
}
.plan-card--title {
   padding-top: 30px;
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 18px;
   color: black;
}
.plan-card--price {
   padding: 5px 0;
   font-style: normal;
   font-weight: bold;
   font-size: 56px;
   line-height: 63px;
   color: black;
}
.plan-card--price span {
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 15px;
   color: #363636;
   vertical-align: 25px;
}
.plan-card--saving {
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 15px;
   color: #757575;
}
.plans-container--slider{
    display:flex;
    gap:20px;
    height:316px;
    overflow-y: hidden;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}
.plan-card--ca {
   width: 150px;
   height: 48px;
   margin-top: 20px;
   background-color: var(--off-white);
   border: 2px solid var(--bitcoin-orange);
   border-radius: 4px;
   font-style: normal;
   font-family: "DM Sans", sans-serif;
   font-weight: bold;
   font-size: 18px;
   line-height: 18px;
   color: var(--black)
}
.plan-card--ca  span {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('../assets/icons/orange-right-arrow.svg');
    vertical-align: text-bottom;
}
.plans-container--card.soft .plan-card--ca {
   border: 2px solid #BABABA;

}
.plans-container--card.soft .plan-card--ca span{
   background-image: url('../assets/icons/grey-right-arrow.svg');
}