.main-product-detail {
   position: relative;
   width: 100%;
   min-width: 320px;
   height: auto;
   padding: 20px 10px;
   background-color: var(--black);
}
.product-detail--logo-batabit {
   position: absolute;
   width: 40px;
   height: 25px;
   top: calc(0% - 12.5px);
   left: calc(50% - 20px);
   background-image: url('../assets/icons/batata.svg');
}
.product-details--title {
   width: 90%;
   min-width: 288px;
   height: auto;
   margin: 0 auto;
   margin-top: 50px;
   text-align: center;
}
.product-details--title h2 {
   margin-bottom: 20px;
   font-style: normal;
   font-weight: bold;
   font-size: 24px;
   line-height: 26px;
   color: var(--just-white);
}
.product-details--title p {
   margin-bottom: 20px;
   font-style: normal;
   font-weight: 500;
   font-size: 14px;
   line-height: 18px;
   color: #808080;
}
.product-detail--card {
   width: 90%;
   min-width: 288px;
   max-width: 400px;
   min-height: 150px;
   margin: 15px auto;
   padding: 15px;
   background-color: var(--warm-black);
   border-radius: 7px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}
.product-detail--card .icon {
   display: inline-block;
   width: 20px;
   height: 20px;
   margin-bottom: 10px;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}
.product-detail--card .icon.clock {
   background-image: url('../assets/icons/clock.svg');
}
.product-detail--card .icon.eye {
   background-image: url('../assets/icons/eye.svg');
}
.product-detail--card .icon.dollar {
   background-image: url('../assets/icons/dollar-sign.svg');
}
.product-detail--card .icon.check {
   background-image: url('../assets/icons/check-circle.svg');
}
.product--card-title {
   margin-bottom: 15px;
   font-style: normal;
   font-weight: bold;
   font-size: 18px;
   line-height: 18px;
   color: var(--just-white);
}
.product--card-body {
   font-style: normal;
   font-weight: 500;
   font-size: 14px;
   line-height: 18px;
   color: #808080;
}
