.main-bitcoin-img-container {
   width: 100%;
   min-width: 320px;
   height: 50vh;
   background-image: url('../assets/img/bitcoinbaby2x.jpg');
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   text-align: center;
}
.main-bitcoin-img-container h2 {
   padding-top: 10%;
   font-style: normal;
   font-weight: bold;
   font-size: 28px;
   line-height: 26px;
   color: var(--just-white)
}
